---
import Layout from '@/layouts/Layout.astro';
import Header from '@/components/Header.astro';
import Prices from '@/components/Prices.astro';
import { spaServices } from '@/utils/constants';

const { semipermanente, acrilico, retoques, tradicional } = spaServices;
---

<Layout title="JNSails">
  <Header />

  <main class="container">
    <section class="content">
      <p class="description">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur
        architecto, in voluptate, modi earum libero nesciunt consequuntur
        accusamus vel voluptatibus neque labore ex cumque asperiores ea qui
        iure. Ea, nihil.
      </p>
      <p class="description">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur
        architecto, in voluptate, modi earum libero nesciunt consequuntur
        accusamus vel voluptatibus neque labore ex cumque asperiores ea qui
        iure. Ea, nihil.
      </p>
      <p class="description">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur
        architecto, in voluptate, modi earum libero nesciunt consequuntur
        accusamus vel voluptatibus neque labore ex cumque asperiores ea qui
        iure. Ea, nihil.
      </p>

      <div class="container-nails">
        <img src="images/2.jpg" alt="flowers" class="image-nails" />
        <img src="images/2.jpg" alt="flowers" class="image-nails" />
        <img src="images/3.jpg" alt="flowers" class="image-nails" />
      </div>
    </section>

    <section class="container-prices">
      <h4 class="title">Lista de</h4>
      <h2 class="title-price">Precios</h2>
      <Prices
        prices={semipermanente.prices}
        descriptions={semipermanente.descriptions}
        title="Semipermanente"
      />

      <Prices
        prices={acrilico.prices}
        descriptions={acrilico.descriptions}
        title="Acrílico"
      />

      <Prices
        prices={retoques.prices}
        descriptions={retoques.descriptions}
        title="Retoques"
      />

      <div class="press-on">
        <h3>Press On</h3>
        <p class="price-press-on">$80.000</p>
      </div>

      <Prices
        prices={tradicional.prices}
        descriptions={tradicional.descriptions}
        title="tradicional"
      />
    </section>

    <footer class="footer">
      <p>321-225-7761</p>
      <p>Calle 32a # 45-01</p>
      <p>San Pio - Itagui</p>
    </footer>
  </main>
</Layout>

<style>
  .container {
    display: flex;
    flex-direction: column;
  }

  .content {
    width: 90%;
    margin-left: 5rem;
  }

  .container-nails {
    display: flex;
  }

  .container .footer {
    width: 70%;
    margin-left: 5rem;
    display: flex;
    flex-direction: column;
    margin-top: 120px;
  }

  .container .footer p {
    font-size: 1.5rem;
    margin-top: -10px;
  }

  .container-nails .image-nails {
    width: 40%;
    height: 10%;
    margin-right: 40px;
  }

  .content-image {
    width: 30%;
  }

  .image-flowers {
    width: 100%;
    height: auto;
    position: relative;
  }

  .description {
    width: 100%;
  }

  .container-prices {
    width: 90%;
    margin-top: 50px;
    padding-left: 20rem;
  }

  .container-prices .title {
    text-align: center;
    margin-bottom: 10px;
    letter-spacing: 3px;
  }

  .container-prices .title-price {
    text-align: center;
    margin-top: 13px;
    font-size: 2.5rem;
    letter-spacing: 5px;
  }

  .container-prices .press-on {
    display: flex;
    justify-content: space-between;
  }

  .press-on .price-press-on {
    margin-right: 42.6rem;
  }

  @media screen and (max-width: 768px) {
    .container-nails {
      width: 70vh;
      margin-top: 100px;
    }
    .container-nails .image-nails {
      width: 20vh;
      margin-right: 10px;
      height: 30vh;
    }
    .description {
      width: 65vh;
    }

    .container-prices {
      padding-left: 5rem;
    }

    .container-prices .title {
      text-align: center;
      margin-bottom: 5px;
      margin-left: 9rem;
    }
    .container-prices .title-price {
      text-align: center;
      margin-left: 150px;
      margin-top: 10px;
    }

    .press-on .price-press-on {
      margin-right: -4.4rem;
    }
  }
</style>
