---
import Layout from '@/layouts/Layout.astro';
import Prices from '@/components/Prices.astro';
import { spaServices } from '@/utils/constants';

const { semipermanente, acrilico, retoques, tradicional, pressOn } =
  spaServices;
---

<Layout title="JDNails">
  <main class="container">
    <section class="content">
      <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              src="images/banner/banner1.jpeg"
              class="d-block w-100 image__banner"
              alt="..."
            />
          </div>
          <div class="carousel-item">
            <img
              src="images/banner/banner2.jpeg"
              class="d-block w-100 image__banner"
              alt="..."
            />
          </div>
          <div class="carousel-item">
            <img
              src="images/banner/banner3.jpeg"
              class="d-block w-100 image__banner"
              alt="..."
            />
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExample"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExample"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

      <section class="container-nails-images">
        <div class="card mb-3">
          <div class="row g-0">
            <div class="col-md-4">
              <img
                src="images/1.jpg"
                class="img-fluid rounded-start img__description"
                alt="..."
              />
            </div>
            <div class="col-md-8 card-nails-description">
              <div class="card-body">
                <h5 class="card-title">Semipermanente</h5>
                <p class="card-text">
                  This is a wider card with supporting text below as a natural
                  lead-in to additional content. This content is a little bit
                  longer.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="card mb-3">
          <div class="row g-0">
            <div class="col-md-8 card-nails-description">
              <div class="card-body">
                <h5 class="card-title">Acrilico</h5>
                <p class="card-text">
                  This is a wider card with supporting text below as a natural
                  lead-in to additional content. This content is a little bit
                  longer.
                </p>
              </div>
            </div>

            <div class="col-md-4">
              <img
                src="images/2.jpg"
                class="img-fluid rounded-start img__description"
                alt="..."
              />
            </div>
          </div>
        </div>

        <div class="card mb-3">
          <div class="row g-0">
            <div class="col-md-4">
              <img
                src="images/3.jpg"
                class="img-fluid rounded-start img__description"
                alt="..."
              />
            </div>
            <div class="col-md-8 card-nails-description">
              <div class="card-body">
                <h5 class="card-title">Retoques</h5>
                <p class="card-text">
                  This is a wider card with supporting text below as a natural
                  lead-in to additional content. This content is a little bit
                  longer.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="card mb-3">
          <div class="row g-0">
            <div class="col-md-8 card-nails-description">
              <div class="card-body">
                <h5 class="card-title">Prees On</h5>
                <p class="card-text">
                  This is a wider card with supporting text below as a natural
                  lead-in to additional content. This content is a little bit
                  longer.
                </p>
              </div>
            </div>

            <div class="col-md-4">
              <img
                src="images/banner/banner8.jpeg"
                class="img-fluid rounded-start img__description"
                alt="..."
              />
            </div>
          </div>
        </div>
      </section>

      <!--<section class="container-prices">
      <h4 class="title">Lista de</h4>
      <h2 class="title-price">Precios</h2>
      <Prices
        prices={semipermanente.prices}
        descriptions={semipermanente.descriptions}
        title="Semipermanente"
      />

      <Prices
        prices={acrilico.prices}
        descriptions={acrilico.descriptions}
        title="Acrílico"
      />

      <Prices
        prices={retoques.prices}
        descriptions={retoques.descriptions}
        title="Retoques"
      />

      <Prices
        prices={pressOn.prices}
        descriptions={pressOn.descriptions}
        title="Press On"
      />

      <Prices
        prices={tradicional.prices}
        descriptions={tradicional.descriptions}
        title="tradicional"
      />
    </section> -->
    </section>
  </main>

  <style>
    .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .content {
      width: 100%;
    }

    .container-nails-images {
      margin-top: 30px;
    }

    .card-nails-description {
      background-color: #323232;
    }
    .img__description {
      height: 40vh;
      width: 100%;
    }

    .image__banner {
      height: 90vb;
    }

    .container-nails-images .gallery {
      width: 100%;
      margin: auto;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 0.5rem;
      row-gap: 0.5rem;
    }

    .container-prices {
      width: 80%;
      margin-top: 60px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
      border: 1px solid #fff;
      outline: 1px solid rgb(223, 18, 154);
      outline-offset: -13px;
    }

    .container-prices .title {
      text-align: center;
      margin-bottom: 10px;
      letter-spacing: 3px;
    }

    .container-prices .title-price {
      text-align: center;
      margin-top: 13px;
      font-size: 2.5rem;
      letter-spacing: 5px;
    }

    .container-prices .press-on {
      display: flex;
      justify-content: space-between;
    }

    .press-on .price-press-on {
      margin-right: 22.6rem;
    }

    @media screen and (max-width: 768px) {
      .container-nails-images {
        width: 70vh;
        margin-top: 100px;
      }

      .container-nails-images .gallery {
        grid-template-columns: repeat(3, 1fr);
      }

      .description {
        width: 65vh;
      }

      .container-prices {
        width: 75vh;
        padding-left: 100px;
        margin-left: 500px;
        margin-right: 200px;
      }

      .container-prices .title {
        text-align: center;
        margin-bottom: 5px;
        margin-right: 80px;
      }
      .container-prices .title-price {
        text-align: center;
        margin-top: 10px;
        margin-right: 80px;
      }
      .press-on h3 {
        width: 200px;
      }

      .press-on .price-press-on {
        margin-left: 19.5rem;
      }
    }
  </style>
</Layout>
