---
import Layout from '@/layouts/Layout.astro';
import Prices from '@/components/Prices.astro';
import { spaServices } from '@/utils/constants';

const { semipermanente, acrilico, retoques, tradicional, pressOn } =
  spaServices;
---

<Layout title="JDNails">
  <main class="container">
    <section class="content">
      <p class="description">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur
        architecto, in voluptate, modi earum libero nesciunt consequuntur
        accusamus vel voluptatibus neque labore ex cumque asperiores ea qui
        iure. Ea, nihil.
      </p>
      <p class="description">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur
        architecto, in voluptate, modi earum libero nesciunt consequuntur
        accusamus vel voluptatibus neque labore ex cumque asperiores ea qui
        iure. Ea, nihil.
      </p>
      <p class="description">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur
        architecto, in voluptate, modi earum libero nesciunt consequuntur
        accusamus vel voluptatibus neque labore ex cumque asperiores ea qui
        iure. Ea, nihil.
      </p>

      <section class="container-nails-images">
        <div class="gallery">
          <div class="img image-1">
            <img src="images/2.jpg" alt="nails" />
          </div>
          <div class="img image-2">
            <img src="images/3.jpg" alt="nails" />
          </div>
          <div class="img image-3">
            <img src="images/2.jpg" alt="nails" />
          </div>
          <div class="img image-4">
            <img src="images/3.jpg" alt="nails" />
          </div>
          <div class="img image-5">
            <img src="images/2.jpg" alt="nails" />
          </div>
          <div class="img image-6">
            <img src="images/3.jpg" alt="nails" />
          </div>
        </div>
      </section>
    </section>

    <section class="container-prices">
      <h4 class="title">Lista de</h4>
      <h2 class="title-price">Precios</h2>
      <Prices
        prices={semipermanente.prices}
        descriptions={semipermanente.descriptions}
        title="Semipermanente"
      />

      <Prices
        prices={acrilico.prices}
        descriptions={acrilico.descriptions}
        title="Acrílico"
      />

      <Prices
        prices={retoques.prices}
        descriptions={retoques.descriptions}
        title="Retoques"
      />

      <Prices
        prices={pressOn.prices}
        descriptions={pressOn.descriptions}
        title="Press On"
      />

      <Prices
        prices={tradicional.prices}
        descriptions={tradicional.descriptions}
        title="tradicional"
      />
    </section>
  </main>
</Layout>

<style>
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .content {
    width: 90%;
    margin-left: 5rem;
  }

  .container-nails-images .gallery {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 0.5rem;
    row-gap: 0.5rem;
  }

  .container-nails-images .gallery .img {
    margin-top: 15px;
    width: 95%;
  }
  .gallery .img img {
    width: 95%;
  }

  .img img:hover {
    transform: scale(1.1);
  }

  .container .footer {
    width: 70%;
    margin-left: 5rem;
    display: flex;
    flex-direction: column;
    margin-top: 120px;
  }

  .container .footer p {
    font-size: 1.5rem;
    margin-top: -10px;
  }

  .content-image {
    width: 30%;
  }

  .image-flowers {
    width: 100%;
    height: auto;
    position: relative;
  }

  .description {
    width: 100%;
  }

  .container-prices {
    width: 80%;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #fff;
    outline: 1px solid rgb(223, 18, 154);
    outline-offset: -13px;
  }

  .container-prices .title {
    text-align: center;
    margin-bottom: 10px;
    letter-spacing: 3px;
  }

  .container-prices .title-price {
    text-align: center;
    margin-top: 13px;
    font-size: 2.5rem;
    letter-spacing: 5px;
  }

  .container-prices .press-on {
    display: flex;
    justify-content: space-between;
  }

  .press-on .price-press-on {
    margin-right: 22.6rem;
  }

  @media screen (max-width: 100px) {
    .container-nails-images .gallery {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  @media screen (max-width: 520px) {
    .container-nails-images .gallery {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media screen (max-width: 1024px) {
    .container-nails-images .gallery {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  @media screen and (max-width: 768px) {
    .container-nails-images {
      width: 70vh;
      margin-top: 100px;
    }

    .container-nails-images .gallery {
      grid-template-columns: repeat(3, 1fr);
    }

    .description {
      width: 65vh;
    }

    .container-prices {
      width: 75vh;
      padding-left: 100px;
      margin-left: 500px;
      margin-right: 200px;
    }

    .container-prices .title {
      text-align: center;
      margin-bottom: 5px;
      margin-right: 80px;
    }
    .container-prices .title-price {
      text-align: center;
      margin-top: 10px;
      margin-right: 80px;
    }
    .press-on h3 {
      width: 200px;
    }

    .press-on .price-press-on {
      margin-left: 19.5rem;
    }
  }
</style>
